@import "https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css";
header {
    background: #f2f2f2;
}

body {
    background:  #f2f2f2;
  }

#top-logo {
  display: block;
  text-indent: -9999px;
  width: 200px;
  height: 38px;
  background: url(../images/logo.svg);
  background-size: 200px 38px;
  margin:10px 0px;

}

a {
    color:inherit;
    text-decoration: underline;
}

#nav-menu a {
    font-style: normal;
    text-decoration: none;
}

#logo a:hover {
    color:inherit;
}

@media screen and (min-width: 40em) {
    header {
        margin-bottom:30px;
    }
    h3.caption {
        padding:5px;
        background:rgba(0,0,0,0.1);
        font-size:12px;
        font-weight:bold;
        text-transform:uppercase;

    }
}

@media screen and (max-width: 40em) {

    .nav-menu-wrapper,.title-bar {
        background:#003366;
    }
    .nav-menu-wrapper {
        border-bottom:3px solid #ccc;
        margin-bottom:30px;
        color: #f2f2f2;
    }


}

#nav-menu li.current {
    font-weight: bold;
}


footer {
    margin-top:30px;background:#f2f2f2;
}
