@import "https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css";
header {
    background: #f2f2f2;
}

.no-js .title-bar {
    display: none;
  }

@media screen and (max-width: 40em) {

    .nav-menu-wrapper,.title-bar {
        background:#003366;
    }
    .nav-menu-wrapper {
        border-bottom:3px solid #ccc;
        margin-bottom:30px;
        color: #f2f2f2;
    }



        .no-js .top-bar {
          display: block;
        }

        .no-js .title-bar {
          display: none;
      }


}
